@media (max-width:768px){
   .Bettter{
	   text-align:center;
   }
   .Bettter h1{
	   font-size:35px;
   } 
   .Bettter p{
	   font-size:18px;
   }
   .about-content{
	   text-align:center;
   }
   .about{
	   text-align:center;
   }
    .services h2:after{
		top:30px;
	}   
	.services h2{
		font-size:20px;
	}	
    .nav-item i{
	  margin:0 auto;
font-size:20px;	  
	}
  .tab-pane h2{
	  margin:20px;
  }	
}
@media(max-width:900px) {
        .hamburger {
            display: block;
        }
        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
            }
        .hamburger.active .bar:nth-child(1) {
             transform: translateY(8px) rotate(45deg);
            }
        .hamburger.active .bar:nth-child(3) {
             transform: translateY(-8px) rotate(-45deg);
            }
.nav-menu {
        position: fixed;
        left: -100%;
        top: 80px;
        gap: 0;
        flex-direction: column;
        background:white;
        width: 100%;
            }
.nav-item {
        margin: 12px 0;
		/* font-size: 42px; */
            }
.nav-menu.active {
        left: 0;
            }
        }
